<script>
    window.basePath = "{{ base_path ?? '/UBarbershop/public' }}";
</script>
<!-- Header -->
    <header class="site-header">
        <!-- LEFT SIDE -->
        <div class="header-left">
            <a class="logo" href="{{base_path}}">
                <img src="../public/images/logo.png" alt="UBarbershop Logo" class="logo-img" />
                <span class="logo-text">UBarbershop</span>
            </a>

            <a
                href="{{base_path}}/appointment"
                class="btn primary"
                id="header-appoint-button"
            >
                {{trans('appointment.submit')}}
            </a>
        </div>

        <!-- CENTER -->
        <nav class="main-nav">
            <a href="{{base_path}}">{{trans('nav.home')}}</a>
            <a href="{{base_path}}/about">{{trans('nav.about')}}</a>
            <a href="{{base_path}}/contact">{{trans('nav.contact')}}</a>
        </nav>

        <!-- RIGHT SIDE -->
        <div class="header-actions">
            <a href="{{base_path}}/login" class="btn-login account-link" id="account-link">
                Login
            </a>

            <a
                href="{{base_path}}/callendar"
                class="btn-login admin-tab"
                id="admin-tab"
                style="display:none;"
            >
                {{trans('nav.adminMode')}}
            </a>

            <div class="lang-switcher">
            </a>

            <a
                href="{{base_path}}/callendar"
                class="btn-login admin-tab"
                id="admin-tab"
                style="display:none;"
            >
                {{trans('nav.adminMode')}}
            </a>

            <div class="lang-switcher">
                <a href="{{ base_path }}/lang/en"
                           class="{{ (app_lang ?? 'en') == 'en' ? 'active' : '' }}">
                            EN
                </a>
                <span>|</span>
                <a href="{{ base_path }}/lang/fr"
                           class="{{ (app_lang ?? 'en') == 'fr' ? 'active' : '' }}">
                            FR
                </a>
            </div>
        </div>

    </header>
</html>
